.Login-Container{
}

.Login-Logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Login-Logo img{
    width: 150px;

    
}

.Login-Form{
    margin: auto;
    height: 250px;
    text-align: center;
    padding-top: 35px;
}



.Login-Dados-Invalidos{
    color: red;
    font-weight: bolder;
    -webkit-animation: blinker 3s ;
    -moz-animation: blinker 3s;
    animation: blinker 3s infinite ;
    animation-fill-mode: forwards;

    



}

@keyframes blinker {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}


.Login-Input{
    border-radius: 40px;
    margin-top: 10px;
    width: 200px;
    padding: 20px;
   

}




.Login-Input::-webkit-input-placeholder {
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

.Login-Input::-moz-placeholder {
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

.Login-Input:focus{
    border-radius: 40px;
    margin-top: 10px;
    width: 200px;
    padding: 20px;
    outline: none;

}



.Login-Input:focus::-webkit-input-placeholder{
    transition: 2s;
    color:blue;
    font-size: 10px;

}

.Login-Input:focus::-moz-placeholder{
    transition: 2s;
    color:blue;
    font-size: 10px;

}

.Login-Input-Botao{

    background-color:cyan;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    width: 250px;
}

.Login-Input-Botao:hover{

    transition: 1s;
    background-color:blue;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width: 275px){
    .Login-Input-Botao{
        background-color:cyan;
        color: black;
        font-weight: bolder;
        font-size: 20px;
        width:200px;
    }
    
    
    .Login-Input-Email{
        border-radius: 40px;
        margin-top: 10px;
        width: 150px;
        padding: 20px;
       
    
    }

    .Login-Input-Senha{
        border-radius: 40px;
        margin-top: 10px;
        width: 150px;
        padding: 20px;
       
    
    }

    
}


